<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form method="post" action="/product/add" class="form-vertical  js-form-loading">
        <div class="form-group">
            <label for="input-produto-nome">Nome</label>
            <input id="input-produto-nome" name="name"  type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="input-produto-description">Description</label>
            <input id="input-produto-description" name="description" type="text" class="form-control"/>
        </div>
        <button class="btn btn-primary" id="button-submit" type="submit" role="button">Salvar</button>
    </form>
</div>
<div th:each="prod : ${productList}" style="width:100%">
    <tr>
        <td th:text="${prod.id}" />
        <td th:text="${prod.name}" />
        <a th:href="${prod.id}">Ver</a>
        <a th:href="@{'/product/del/'+${prod.id}}" text="Ver" >Del</a>
        (
            <a th:href="@{'/images/'+${prod.id}}" text="Images" >Images</a>
            <a th:href="@{'/images/'+${prod.id}}" text="JSON" >JSON</a>
        )
    </tr>
</div>
</body>
</html>
