<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form method="post" action="/images/add" class="form-vertical  js-form-loading">
        <div class="form-group">
            <label for="input-images-nome">Nome</label>
            <input id="input-images-nome" name="name"  type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="input-images-url">URL</label>
            <input id="input-images-url" name="url"  type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="input-images-productId">productId</label>
            <input id="input-images-productId" name="productId" th:value="${productId}"  type="text" class="form-control"/>
        </div>
        <button class="btn btn-primary" id="button-submit" type="submit" role="button">Salvar</button>
    </form>
</div>
<div th:each="img : ${imageList}" style="width:100%">
    <tr>
        <td th:text="${img.id}" />
        <td th:text="${img.name}" />
        <a th:href="@{'/images/'+${productId}+'/'+${img.id}}">Ver</a>
        <a th:href="@{'/images/del/'+${img.id}}" text="Del" >Del</a>
        -- (
            <a th:href="@{'/product/form'}" text="Voltar" >Voltar</a>
           )
    </tr>
</div>
</body>
</html>
